footer{
    background-color: darken($tertiary-color, 60%);
    color: white;
    padding: 1.5em;
    ul{
        list-style-type: none;
        line-height: 1.6em;
    }
    a{
        color: white;
    }
}

.fa-utensils{
    padding-right: 1.4em;
}

.fa-hands-helping{
    padding-right: 1em;
}