#titre{
    display: flex;
    justify-content: space-around;
    @media (min-width: 768px) and (max-width: 991.98px){
        width: 90%;
    }
    @media (min-width: 992px){
        width: 95%;
        justify-content: space-between;
    } 
}

.coeur_menu{
    font-size: 2.5em;
    align-self: center;
    position: relative;
    z-index: 1;
    color: darken($back-color, 30%);
    &:hover{
        @include text-gradient;
        & .coeur_menu_rempli{
            opacity: 1;
        }
    }
}

.coeur_menu_rempli{
    @include coeur_animation;
}

main{
    padding: 1em;
    background-color: $back-color;
    border-radius: 5em 5em 0 0;
    position: relative;
    z-index: 100;
    margin-top: -30%;
    display: flex;
    flex-direction: column;
    @media (max-width: 767.98px){
        margin-top: -50%;
    }
    @media (min-width: 1200px){
        margin-top: -20%;
    }
    @media (min-width: 768px) and (max-width: 1199.98px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#menu{
    @media (min-width: 768px) and (max-width: 1199.98px){
        width: 100%;
    }
    @media (min-width: 1200px){
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
    }
}

#menu-entrees, #menu-plats, #menu-desserts{
    display: flex;
    flex-direction: column;
    @media (min-width: 1200px){
        width: 32%;
    }
}

.entrees, .plats, .desserts{
    font-size: 1.2em;
    margin: 1em 0 1em 0;
    display: flex;
    line-height: 0.8em;
    overflow: hidden;
    cursor: pointer;
    @include cards(white);
    @media (min-width: 768px) and (max-width: 1199.98px){
        width: 100%;
        align-self: center;
    }
    &:hover .valider{
        margin-right: 0rem;
        transition: margin-right 800ms ease-in-out;
    }
    &:hover .check{
        animation: validation 1400ms ease-in-out;
    }
}

.description, .description>p, .description>h4{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.valider{
    align-self: center;
    font-size: 1.5em;
    margin: -1rem -13rem -1rem 1rem;
    color: white;
    background: $tertiary-color;
    padding: 1.5em 1.2em 1.4em 1.2em;
    @media (max-width: 567.98px){
        margin: -1rem -7rem -1rem 1rem;
    }
    @media (min-width: 1200px){
        margin: -1rem -7rem -1rem 1rem;
    }
}

/* ANIMATION APPARITION MENUS */

.anim_1{
        animation: fadein 3s 200ms both;
}

.anim_2{
    animation: fadein 3s 800ms both;
}

.anim_3{
    animation: fadein 3s 1400ms both;
}

.anim_4{
    animation: fadein 3s 2000ms both;
}

.anim_5{
    animation: fadein 3s 2600ms both;
}

.anim_6{
    animation: fadein 3s 3200ms both;
}

.anim_7{
    animation: fadein 3s 3800ms both;
}

.anim_8{
    animation: fadein 3s 4400ms both;
}

.anim_9{
    animation: fadein 3s 5000ms both;
}

.anim_10{
    animation: fadein 3s 5600ms both;
}

/* FIN ANIMATION APPARITION MENUS */

.description{
    flex: 1;
    padding-left: 1em;
}

.description>p{
    padding-bottom: 0.2em;
}

.prix{
    align-items: flex-end;
    display: flex;
    padding-bottom: 1em;
    padding-right: 0.5em;
    font-weight: bold;
}

.contain_commander{
    display: flex;
    justify-content: center;
    @media (min-width: 768px) and (max-width: 1199.98px){
        width: 100%;
    }
}

.commander{
    width: 40%;
    margin: 3em 0 5em 0;
    justify-self: center;
    @media (min-width: 1200px){
        width: 20%;
    }
}