section{
    padding-left: 1em;
    margin-bottom: 5em;
}

ul{
    list-style-type: none;
}

section li{
    position: relative;
    padding: 1.5em;
    margin: 1.5em 1.5em 1.5em 0;
    font-size: 1.1em;
    @include cards(lighten($primary-color,30%));
}

.li__number{
    background-color: $primary-color;
    color: white;
    padding: 0.5em 0.7em 0.5em 0.7em;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: -3%;
}

.li__logo{
    padding: 0 1em 0 1em;
    font-size: 1.2em;
}